.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6fb;
}

.auth-card {
  width: 400px;
  padding: 25px;
  border-radius: 15px;
}

.full-width {
  width: 100%;
  margin-bottom: 12px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.qr img {
  width: 200px;
  margin-top: 15px;
}