<div class="favourites-page">
  <div class="page-header">
    <h2>My Favourite Coins</h2>
  </div>

  @if (loading) {
    <p>Loading...</p>
  }

  @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  }

  @if (!loading && favourites.length === 0) {
    <p>No favourite coins found.</p>
  }

  @if (!loading && favourites.length > 0) {
    <div class="card-grid">
      @for (item of favourites; track item.fid) {
        <mat-card class="fav-card">
          <div class="fav-top">
            <img [src]="item.image" [alt]="item.cryptoName" class="coin-img" />
          </div>

          <h3>{{ item.cryptoName }}</h3>
          <p class="symbol">{{ item.symbol }}</p>

          <div class="info-row">
            <span>Crypto Price</span>
            <strong>₹ {{ item.currentPrice | number:'1.2-2' }}</strong>
          </div>

          <div class="info-row">
            <span>Added On</span>
            <strong>{{ item.createdAt | date:'dd-MM-yyyy' }}</strong>
          </div>

          <div class="card-actions">
            <button mat-raised-button color="primary" (click)="openBuyDialog(item)">
              <mat-icon>shopping_cart</mat-icon>
              Buy
            </button>

            <button mat-stroked-button color="warn" (click)="removeFavourite(item)">
              <mat-icon>delete</mat-icon>
              Remove
            </button>
          </div>
        </mat-card>
      }
    </div>
  }
</div>

<ng-template #buyDialog>
  <h2 mat-dialog-title>Buy {{ selectedCoin?.cryptoName }}</h2>

  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter Amount</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="buyAmount"
        (input)="onAmountChange()"
        placeholder="Enter amount">
    </mat-form-field>

    <div class="buy-info-card">
      <p><strong>Coin:</strong> {{ selectedCoin?.cryptoName }}</p>
      <p><strong>Symbol:</strong> {{ selectedCoin?.symbol }}</p>
      <p><strong>Price Per Unit:</strong> ₹ {{ calculatedPricePerUnit | number:'1.2-2' }}</p>
      <p><strong>Quantity:</strong> {{ calculatedQuantity | number:'1.6-6' }}</p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button (click)="closeBuyDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="confirmBuy()">Buy</button>
  </mat-dialog-actions>
</ng-template>